<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="shortcut icon" type="png" href="{% static 'images/fav.png' %}">
    <title>Registeration</title>
  </head>
  <body>
    <header class="hed">
  		<div class="hed-div">
  		<a href="index.html"><img src="{% static 'images/travel.jpg' %}" alt="Logo" width="150px" class="hed-div-img"><a>
  		<nav class="hed-nav">
        <div class="log-reg">
  				<ul>
  				{% if request.user.is_authenticated %}
  				<li><a href="{% url 'logout' %}">Logout</a></li>
  				{% else %}
  				<li> <a href="{% url 'user_login' %}">Login</a> </li>
  				{% endif %}
  				<li> <a href="{% url 'register' %}">Register</a> </li>
  			</ul>
  			</div>
  			<ul>
  				<li><a href="{% url 'index' %}">Home</a></li>
  				<li><a href="{% url 'home_page:countries' %}">Countries</a></li>
  				<li><a>Categories</a>
  					<ul>
  						<li><a href="{% url 'home_page:categories' %}">Type&emsp;</a></li>
  						<li><a href="{% url 'home_page:month' %}">Month&nbsp;</a></li>
  					</ul>
  				</li>
  				<li><a href="{% url 'home_page:aboutus' %}">About Us</a></li>
  				<li><a>Contact</a>

  						<ul>
  								<li><a href="{% url 'contact' %}">ContactUs</a></li>
  							 	<li><a href="{% url 'suggest' %}">SuggestUs</a></li>
  						 </ul>


  				</li>
  			</ul>
  		</nav>
  		</div>
  	</header>
    <section class="sec">
      <div class="reg">
        {% if registered %}
        <h1>Thank You for Registering!</h1>
        {% else %}
        <div class="reg-hed">
          <h1>Register Here</h1>
        </div>
        <div class="reg-bod">
          <form class="" action="/register/" enctype="multipart/form-data" method="post">
          {% csrf_token %}
          {{user_form.errors}}
          <label>First Name:</label>
          <br>
          {{ user_form.first_name }}
          <br>
          <label>Last Name:</label>
          <br>
          {{ user_form.last_name }}
          <br>
          <label> Username:</label>
          <br>
          {{ user_form.username }}
          <br>
          <label>Email:</label>
          <br>
          {{ user_form.email }}
          <br>
          <label>Password:</label>
          <br>
          {{ user_form.password }}
          <br>
          <label>Confirm Password:</label>
          <br>
          {{ user_form.confirm_password }}
          {{ user_form.botcatcher }}
          <br>
          <label>Profile Pic:</label>
          <br>
          {{ profile_form.profile_pic }}
          <br><br>
          <input type="submit" value="Register">
        </form>
        {% endif %}
        </div>
      </div>
    </section>
    <footer class="foot">

  			&copy; copyright 2017 Trip Travel (MCA)

  	</footer>
  </body>
</html>
